

    <nav-bar></nav-bar>
    <header id="page-top" class="intro" style="margin-top: -37px">
        <div class="intro-body" id="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Marvin Sena</h1>
                        <p class="intro-text"><br>An enthusiast Programmer and Web Developer.</p>
                        <scrolldown [target]="about_section"></scrolldown>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section #about_section id="about" class="container content-section text-center">
        <div  class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I'm an excellent developer solving issues In any program, I have two years developing, I've fixed several programs, none of which I've let a bug alive
                    , I've always been able to solve the problems presented, due to the fact, that I believe any programing issue can be fixed with the proper examination and analisis.<p>
                <p>I studied at ITLA at Dominican Republic, there I learnt the basics of programming and one of the most important things in life, to be autodidact. I apply this everyday by reading and watching online tutorial videos about what I do.</p>
                <p>In my free time I like jogging, Gaming, watching series and learning new development techniques and technologies while listening to music (its a most). </p>
                <scrolldown [target]="download_section"></scrolldown>
            </div>
        </div>
    </section>
    <section id="download" class="content-section text-center">
        <div id="download-section">
            <div class="container" #download_section id="someid" >
                <div class="row">
                    <h2>PortFolio</h2>
                    <div class="row">
                        <project-list></project-list>
                    </div>
                </div>
            </div>
            <div class="container">
                <scrolldown [target]="contact"></scrolldown>
            </div>
        </div>
    </section>
<section id="contact" class="container content-section text-center" style="padding-top:100px; padding-bottom:500px">
        <div class="row">
            <div #contact id="contactstart" class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me Via Mail</h2>
                <p>Feel free to mail me any question you have!</p>
                <p><a href="mailto:marvinnnz@gmail.com">marvinnnz@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://bitbucket.org/marvinh5" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/107883700292425046337/posts/p/pub" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
