<!-- Aspnet Modal -->

<div [id]="id" class="modal fade in" [style.display]="show_modal ? 'block': 'none'">
    <div class="modal-dialog" [style.display]="show_modal ? 'block': 'none'" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="size: 20px" (click)="show_modal = false;" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;{{project.title}}&nbsp;<span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span>
                    <span>

                    </span>
                </h4>
            </div>
            <div class="modal-body col-lg-8 col-lg-offset-2">
                <p>
                <div [innerHTML]="project.description"></div>
                <div class="col-lg-8 col-lg-offset-2">
                    <h2><span class="glyphicon glyphicon-hand-right"></span>&nbsp;Tecnologies Used</h2>
                    <div class="row">
                        <div class="col-log-6">
                            <div *ngFor="let technology of project.technologies"  [title]="technology.name" class="col-xs-6 col-md-4">
                                <a [href]="technology.href" class="thumbnail" >
                                    <img height="300px" [src]="technology.src" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> !-->
        </div>
    </div>
</div>
<!-- End Asp Modal -->