<nav (scroll)="scrolled()"   class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#intro-body">
                <i class="fa fa-play-circle"></i>  <span class="light">Marvin</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#intro-body"></a>
                </li>
                <li  >
                    <a #about_reference  activateOnRef class="page-scroll" href="#about">About</a>
                </li>
                <li class="">
                    <a class="page-scroll" activateOnRef href="#download">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" activateOnRef href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>