<div title="" class="col-xs-6 col-md-3 col-lg-3">
    <a  class="thumbnail"   (mouseleave)="hide_thumbnail_icon()" (click)="click()" (mouseover)="show_thumbnail_icon()" [href]="project.href" role="button"  data-toggle="modal" >
        <img [class]="hovered ? 'blurred_background':''"  [src]="project.logo" [style.background]="" alt="..." [style.opacity]="project.opacity">
        <i class="fa fa-5x fa-search animated" [style.display]="project.hidden ? 'none':'block'"></i>
    </a>
</div>