.fa {
    position: absolute;
    top: 29%;
    height: 20%;
    width: 20%;
    left: 39%;
}
.blurred_background {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}